html { height: 100%; }
body {
  background: url(/images/errorpages/404error.jpg) no-repeat;
  background-size: cover;
}
.over {
  background: rgba(0, 0, 0, 0.4);
  position: absolute; 
  left: 0; right: 0; top: 0; bottom: 0; 
}
.notfound {
	background: rgba(0, 0, 0, 0.6);
	position: absolute; 
	top: 50px; 
	left:50px; 
	right: 50px;
	border-radius:25px;
	text-align: center;
	color: #fff5ee;
	font-size: 3em;
	z-index: 2; 
}
.notfound a {
  color: #fff;
  font-size: 0.5em;
}
.notfound a:hover {
  color: yellow;
  text-decoration: none;
}